* {
  margin: 0;
  padding: 0;
}

.app {
  display: block;
  width: 100%;
}

.terreno {
  background-color:paleturquoise;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
}

.terrenoIzquierda {
  width: 50%;
}

.terrenoDerecha {
  align-self: right;
  width: 50%;
}

.miniMapa {
  position: relative;
  left: 20px;
  top: 20px;
  
}

.miniMapa img {
  border-radius: 50%;
  width: 200px;
}


.tableroSuperior {
  display: flex;
  background-color:bisque;
  border-radius: 10px;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 10px;
  margin: 10px;
  padding: 20px;
  align-items: center;
  
}

.mainTopPanel {
  display: flex;
  gap: 10px;
}

.mainBotPanel {
  display: flex;
  gap: 10px;
}

.indicadorMainPanel {
  background-color:grey;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.radioPanel {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  width: 25%;
  padding: 20px;
}

.indicadorRadioPanel {
  background-color:grey;
  padding: 20px;
}

.indicadorRadioTransponder {
  background-color: grey;
  grid-column: 1 / span 2;
  height: 50px;
}

.rightHandPanel {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  width: 25%;
  padding: 20px;
}

.indicadorRightHandPanel {
  background-color:grey;
  padding: 20px;
}

.indicadorRightADF {
  grid-column: span 2;
  background-color:grey;
}

.tableroInferior {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.itemTableroInferior {
  background-color: bisque;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.centerColumnPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-gap: 10px;
  background-color: bisque;
}

.indicadorCenterColumnPanel {
  background-color:slategray;
  margin: 10px;
  padding: 10px;
}

.controlesTableroInferior {
  width: 100%;
  background-color: #FDD4A3;
  padding: 10px;
  height: 60%;
}

.pedales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 200px;
  margin: 10px auto 0px auto;
  height: 80%;
  background-color: slategray;
}

.pedal {
  width: 70px;
  margin: 15px;
  background-color: beige;
  justify-self: center;
}
