* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.terreno {
  background-color:paleturquoise;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  
  flex: 0.9;
  background-image: url("https://wallpaperaccess.com/full/1397286.jpg");
}

.terrenoIzquierda {
  width: 50%;
  

  
  
}

.terrenoDerecha {
  align-self: right;
  width: 50%;
  
}

.miniMapa {
  position: relative;
  left: 20px;
  
}

.miniMapa img {
  border-radius: 50%;
  max-width: 200px;
  height: auto;
}


.tableroSuperior {
  display: flex;
  background-color: bisque;
  justify-content: space-between;
  height: 30%;
  background-image: url("https://i.ibb.co/WssjhMv/LG2-Sticker.png");
  border-top: 5px solid black;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  margin: 10px;
  padding: 20px;
  align-items: center;
  
  
  
}

.mainTopPanel {
  display: flex;
  gap: 10px;
}

.mainBotPanel {
  display: flex;
  gap: 10px;
}

.indicadorMainPanel {
  background-color:grey;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.radioPanel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  width: 25%;
  padding: 20px;
  height: auto; /* Ajusta la altura a "auto" para adaptarse al contenido */
  position: relative;
  overflow: visible; /* Cambia "hidden" a "visible" para mostrar el contenido que se desborda */ 
}

.radioPanel::before {
  content: "";
  position: absolute;
  top: -30px; /* Ajusta la cantidad de desplazamiento hacia arriba para mostrar el pedazo de imagen superior */
  left: 0;
  width: 100%;
  height: 113%;
  background-image: url("https://i.ibb.co/dfG29GT/test.png");
  background-position: center top; /* Ajusta la posición de la imagen en el fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el fondo */
  z-index: 1;
}



.indicadorRadioPanel {
  background-color:grey;
  padding: 20px;
  z-index: 10;
}

.indicadorRadioTransponder {
  background-color: grey;
  grid-column: 1 / span 2;
  height: 50px;
}

.rightHandPanel {

  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  margin: 10px;
  padding: 20px;
  align-items: center;
}

.right-top{
  display: flex;
  gap: 10px;

}

.right-bottom{
  display: flex;
  gap: 10px;
}

.indicadorRightHandPanel {
  background-color:grey;
  padding: 20px;
  
}

.indicadorRightADF {
  grid-column: span 2;
  background-color: grey;
  height: 90px;
  width: 270px;
  display: flex;
  border: 3px solid #000;
  border-radius: 5px;
  background-color: #393b39e6;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 25%;
  top:33%;

}

.tableroInferior {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  height: 20vh;
  flex: 0.1;
  background-color: #000;
}

.itemTableroInferior {
  background-color: bisque;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("https://t3.ftcdn.net/jpg/02/25/28/12/360_F_225281244_PLbOFVvspHyxsRYViwSpYXoQCqEb8N8N.jpg");
}

.centerColumnPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-gap: 20px;
  background-color: bisque;
  grid-template-rows: 100px 100px;
  background-image: url("https://t3.ftcdn.net/jpg/02/25/28/12/360_F_225281244_PLbOFVvspHyxsRYViwSpYXoQCqEb8N8N.jpg");
}

.palanca{
  background-image: url("https://t4.ftcdn.net/jpg/01/66/16/19/360_F_166161972_YiceBvzi2tXl1AYmB7APthiXtB0F5GVU.jpg");
}
.Tknob{
  background-image: url("https://t4.ftcdn.net/jpg/01/66/16/19/360_F_166161972_YiceBvzi2tXl1AYmB7APthiXtB0F5GVU.jpg");
}
.knob{
  background-image: url("https://t4.ftcdn.net/jpg/01/66/16/19/360_F_166161972_YiceBvzi2tXl1AYmB7APthiXtB0F5GVU.jpg");
}
.pedales{
  background-image: url("https://t4.ftcdn.net/jpg/01/66/16/19/360_F_166161972_YiceBvzi2tXl1AYmB7APthiXtB0F5GVU.jpg");
}
.indicadorCenterColumnPanel {
  background-color:slategray;
  margin: 10px;
  padding: 10px;
}

.controlesTableroInferior {
  width: 100%;
  background-color: #FDD4A3;
  padding: 10px;
  height: 60%;
  background-image: url("https://t4.ftcdn.net/jpg/01/66/16/19/360_F_166161972_YiceBvzi2tXl1AYmB7APthiXtB0F5GVU.jpg");
  border: 5px solid black;
}

.pedales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 200px;
  margin: 10px auto 0px auto;
  height: 50%;
  background-color: slategray;
}

.pedal {
  width: 70px;
  margin: 15px;
  background-color: beige;
  justify-self: center;
}
