* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.terreno {
  background-color:paleturquoise;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  flex: 0.9;
}

.terrenoIzquierda {
  width: 50%;
}

.terrenoDerecha {
  align-self: right;
  width: 50%;
}

.miniMapa {
  position: relative;
  left: 20px;
  top: 20px;
}

.miniMapa img {
  border-radius: 50%;
  max-width: 200px;
  height: auto;
}


.tableroSuperior {
  display: flex;
  background-color:bisque;
  justify-content: space-between;
  border-radius: 10px;
  height: 30vh;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  margin: 10px;
  padding: 20px;
  align-items: center;
  
}

.mainTopPanel {
  display: flex;
  gap: 10px;
}

.mainBotPanel {
  display: flex;
  gap: 10px;
}

.indicadorMainPanel {
  background-color:grey;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.radioPanel {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  width: 25%;
  padding: 20px;
}

.indicadorRadioPanel {
  background-color:grey;
  padding: 20px;
}

.indicadorRadioTransponder {
  background-color: grey;
  grid-column: 1 / span 2;
  height: 50px;
}

.rightHandPanel {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  width: 30%;
  padding: 20px;
}

.indicadorRightHandPanel {
  background-color:grey;
  padding: 20px;
}

.indicadorRightADF {
  grid-column: span 2;
  background-color: grey;
  height: 90px;
  width: 270px;
  display: flex;
  border: 3px solid #000;
  border-radius: 5px;
  background-color: #393b39e6;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tableroInferior {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  height: 20vh;
  flex: 0.1;
}

.itemTableroInferior {
  background-color: bisque;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.centerColumnPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-gap: 20px;
  background-color: bisque;
  grid-template-rows: 100px 100px;
}

.indicadorCenterColumnPanel {
  background-color:slategray;
  margin: 10px;
  padding: 10px;
}

.controlesTableroInferior {
  display: flex;
  width: 100%;
  background-color: #FDD4A3;
  padding: 10px;
  height: 60%;
}

.pedales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 200px;
  margin: 10px auto 0px auto;
  height: 50%;
  background-color: slategray;
}

.pedal {
  width: 70px;
  margin: 15px;
  background-color: beige;
  justify-self: center;
}
